.container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    height: 100vh;
}

.box {
    padding-top: 20px;
    text-align: center;
    color: #EEEEEE;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: chocolate;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 100%;
    }
}